# Backend API URL (used by frontend to connect to backend)
BACKEND_URL=http://localhost:8001

# Database location
DB_URL=data/database.sqlite

# LLM model selection
MODEL=g31l

# Frontend URL (used by backend)
FRONTEND_URL=http://localhost:8000